@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

body {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

body, html {
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
    min-height: 100vh;
    min-width: 100vw;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

section#cadastro {
    background-color: white;
    width: 100%;
    max-width: 700px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

form#formCadastro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    height: 80vh;
    max-height: 400px;
}

input {
    background-color: #49a09d;
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 8px;
    padding: 4px;

}

input:focus {
    background-color: white;
    color: #5f2c82;
}

input::placeholder {
    color: white;
}

div#submit {
    align-self: center;
}

div#submit > button {
    background-color: #5f2c82;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 120px;
    border-radius: 10px;
    transition: ease 0.3s;
}

div#submit > button:hover {
    background-color: #310247;
}

input#telefone {
    width: 140px;
}

div > select {
    width: 60px;
    height: 25px;
    border-radius: 3px;
    background-color: #49a09d;
    color: white;
}

div > select:focus {
    background-color: white;
    color: #5f2c82;
}

