@charset "UTF-8";


* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    box-sizing: border-box;
    padding: 20px;
}

body, html {
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
    min-height: 100vh;
    min-width: 100vw;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color: white;
    max-width: 700px;
    height: 500px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #5f2c82;
    text-align: center;
}

#container > section > p {
    font-size: 0.8rem;
}

input {
    background-color: #49a09d;
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 8px;
    padding: 4px;

}

input:focus {
    background-color: white;
    color: #5f2c82;
}

form > button[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #5f2c82 ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > button[type=submit]:hover {
    background-color:  #3d1b51;
    transition: 0.2s;
}


#etapa-email > h2, #etapa-codigo > h2 {
    color: #5f2c82;
    text-align: center;
}

#etapa-email, #etapa-codigo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

section.hidden{
    display: none !important;
}