@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

body {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

body, html {
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
    min-height: 100vh;
    min-width: 100vw;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-color: white;
    width: clamp(30vw, 350px, 80vw);
    min-height: 300px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

section > h1 {
    text-align: center;
    color: #5f2c82;
}

section > p {
    font-size: 1.1rem;
    text-align: justify;
    margin-top: -40px;
}

section > div#links >  a {
    background-color: #5f2c82;
    color: white;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    width: 120px;
    border-radius: 10px;
    transition: ease 0.3s;
    margin: 10px;
}

section > div#links > a:hover {
    background-color: #310247;
}